SDK_API_TOKEN="token-auth-sdk"
BOT_SLUG="id-rover-bot"
MISSION_SLUG="mission"
CHROME_EXECUTABLE_PATH="chrome-exec-path"
MAP_ZOOM_LEVEL=18
TTS_PROVIDER="tts-prov" #opcional
TTS_API_KEY="tts-api-key" #opcional
TTS_VOICE="tts-voice" #opcional
GEMINI_API_KEY="gemini-api-key" 
OPENROUTER_API_KEY="or-api-key"